<div class="container">
    <div class="calendar">
        <div class="header">
            <div class="month"></div>
            <div class="btns">
                <div class="btn today-btn">
                    <i class="fas fa-calendar-day"><span class="material-symbols-outlined">
                        calendar_month
                        </span></i>
                </div>
                <div class="btn prev-btn">
                    <i class="fas fa-chevron-left"><span class="material-symbols-outlined">
                        arrow_back_ios
                        </span></i>
                </div>
                <div class="btn next-btn">
                    <i class="fas fa-chevron-right"><span class="material-symbols-outlined">
                        arrow_forward_ios
                        </span></i>
                </div>
            </div>
        </div>
        <div class="weekdays">
            <div class="day">Sun</div>
            <div class="day">Mon</div>
            <div class="day">Tue</div>
            <div class="day">Wed</div>
            <div class="day">Thu</div>
            <div class="day">Fri</div>
            <div class="day">Sat</div>
        </div>
        <div class="days">

        </div>
        <div id="popup" class="popup">
            <div class="popup-content">
              <span class="close-btn">&times;</span>
              <h2 class="poptitle">Horários</h2>
              <p id="popup-date"></p>
              <button class="bn-32 bn32">09:00</button>
              <button class="bn-32 bn32">10:00</button>
              <button class="bn-32 bn32">11:00</button>
              <button class="bn-32 bn32">13:00</button>
              <button class="bn-32 bn32">14:00</button>
              <button class="bn-32 bn32">15:00</button>
              <button class="bn-32 bn32">16:00</button>
              <button class="bn-32 bn32">17:00</button>
            </div>
        </div>

    </div>
</div>

