<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link mx-3" href="/">Página Inicial</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mx-3" href="/register">Novo Usuário</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mx-3" href="/login">Entrar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mx-3" href="/schedule">Fazer Novo Agendamento</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mx-3" href="/appointments">Meus Agendamentos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mx-3" href="/logout">Desconectar</a>
      </li>
    </ul>
  </div>
</nav>
