<%- include('includes/head'); %> <%- include('includes/nav'); %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h2 class="text-center">Clínica Médica: Centro de Saúde Vitalisist</h2>
      <p class="text-center lead my-3">
        O Centro de Saúde Vitalisist é uma clínica médica dedicada a fornecer
        cuidados abrangentes e compassivos para pacientes de todas as idades.
        Nossa equipe de profissionais altamente qualificados está comprometida
        em promover a saúde e o bem-estar de nossos pacientes, oferecendo
        serviços médicos de alta qualidade.
      </p>
      <p class="text-center lead my-3">Especialidade: Medicina Interna</p>

      <div class="responsive-table">
        <div id="carouseleffect" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li
              data-target="#carouseleffect"
              data-slide-to="0"
              class="active"
            ></li>
            <li data-target="#carouseleffect" data-slide-to="1"></li>
            <li data-target="#carouseleffect" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="/frontend/assets/img/imagem1.jpg"
                class="d-block w-100"
                height="350px"
                width="400px"
                alt="image1"
              />
            </div>
            <div class="carousel-item">
              <img
                src="/frontend/assets/img/imagem2.jpg"
                class="d-block w-100"
                height="350px"
                width="400px"
                alt="image2"
              />
            </div>
            <div class="carousel-item">
              <img
                src="/frontend/assets/img/imagem3.jpg"
                class="d-block w-100"
                height="350px"
                width="400px"
                alt="image3"
              />
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#carouseleffect"
            role="button"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouseleffect"
            role="button"
            data-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <p class="text-center lead my-3">
          Na Clínica Médica Vitalisist, nossa especialidade principal é a
          Medicina Interna. Nossos médicos internistas são especialistas em
          diagnosticar, tratar e gerenciar uma ampla gama de condições médicas
          complexas e crônicas. Eles trabalham em estreita colaboração com
          outros especialistas médicos para garantir que nossos pacientes
          recebam o cuidado integrado e personalizado de que precisam.
        </p>
        <p class="text-center lead my-3">
          Além disso, oferecemos uma variedade de serviços adicionais, incluindo
          exames preventivos, gerenciamento de doenças crônicas, cuidados de
          acompanhamento pós-hospitalares e orientação sobre estilo de vida
          saudável. Na Clínica Médica Vitalisist, estamos comprometidos em
          ajudar nossos pacientes a alcançar e manter uma vida saudável e
          vibrante.
        </p>
        <table class="table my-3"></table>
      </div>
    </div>

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer'); %> <%- include('includes/navfoot'); %>
